<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mongo="http://www.springframework.org/schema/data/mongo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/data/mongo
        https://www.springframework.org/schema/data/mongo/spring-mongo.xsd">

    <!-- 加载mongodb的属性配置文件 -->
    <context:property-placeholder location="classpath:mongodb.properties" />

    <!--1.开启注解-->
    <context:annotation-config/>

    <!--2.配置包扫描 -->
    <context:component-scan base-package="com.zgs"/>

    <!--3.服务器连接信息-->
    <mongo:mongo-client id="mongo" host="${mongo.host}" port="${mongo.port}"></mongo:mongo-client>

    <!--4.创建mongoTemplate模板-->
    <bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
        <constructor-arg ref="mongo"/>
        <!-- 设置使用的数据库 名-->
        <constructor-arg name="databaseName" value="${mongo.dbname}"/>
    </bean>

</beans>